.print_item{
    padding-top: 4px;
    text-align: start;
    border-bottom: solid 5px white;
    border: solid 5px;
    


    .btn-update-job{
        
        margin: 10px;
        color: green;
        // border-radius: 10px;
        // width: 15%;
        // height: 30px;
    }

    .btn-delete-job{
        // border-radius: 10px;
        color: red;
        // height: 30px;
        // width: 15%;

    }
}

.input_add_todo{
    border-radius: 10px;
}
